---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Página Inicial">
  <h1 >hola mundo esta es una prueba</h1>
  <section>
    <h1>hola mundo esta es una prueba</h1>
  </section>
  <section>
    <h1>hola mundo esta es una prueba</h1>
  </section>
</Layout>

<style>
</style>
